
/* ------ Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400;500;700&display=swap');

/* ------ Estilos del documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  color: var(--color-font1);
  background-color: #000000;
  background-image: url("./assets/negro.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #a0794f;
}
::-webkit-scrollbar-thumb {
  background: var(--color-font1);
}

/* ------ Variables CSS */

:root {
  --font-primary: 'Orbitron', sans-serif;
  --font-secondary: 'Bebas Neue', cursiva;

  --color-font1: #333;
  --color-font2: #111111;

  --color-box-primary: #d8aa77;
  --color-box-secondary: #a0794f;

  --color-box-locked-pri: #545250;
  --color-box-locked-sec: #4c4b49a7;
}

/* ------ Estilos base */
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
